/* typography */
*{
  margin: 0px;
  padding: 0;
}
html{
  font-size: 10px;
}
body{
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1.5rem;
  color: #282829;
}
h2{
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
}
p{
  font-family: sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
li{
  list-style-type: none;
  text-transform: capitalize;
  padding: .8rem 0;
}
a{
  text-decoration: none;

  color: #282829;
}
a:hover {
  opacity: 0.5;
}
button:hover{
  opacity: 0.5;
  cursor: pointer;  
}

.full_container{
  width: 100%;
}
.main_container{
  width: 100%;
  max-width: 105rem;
  display: block;
  margin: 0 auto;
}

div{
  box-sizing: border-box;
}
hr{
  border-width:0;
  background-color: #dad6d6;
  height: 1px;
  margin-bottom: 2rem;
}


/* start of header top row*/
.mobile_menu{
  display: none;  
}
.header_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_wrapper {
  box-shadow: 6px 3px 6px rgb(217, 212, 212);
  position: fixed;
  z-index: 1;
  top: 0;
  background: #fff;
}
.header_inner .avatar img {
  width: 2.8rem;
  border-radius: 50%;
  vertical-align: bottom;
  border: 1px solid #d4cfcf;
}

#logo {
  padding: 1rem 0;
  font-size: 2.8rem;
  color: #c61414;
}

/*end of header top row*/

/*start of main section*/

.main_inner .mi_left ul li img {
  width: 2rem;
  float: left;
  margin-right: 0.8rem;
  border-radius: 50%;
}
.whole_content_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_inner .mi_left {
  max-width: 14.2rem;
}
.mil_inner {
    position: sticky;
    top: 9.5rem;
}
.main_inner .mi_middle {
  max-width: 60.2rem;
  flex: 1 1 auto;
}
.main_inner .mi_right {
  max-width: 17.2rem;
  background-color: #fff;
  align-self: flex-start;
}
.main_inner .mi_left ul li a {
  display: inline-block;
  width: 11rem;
  font-size: 1.3rem;
  color: #777373;
}
.main_inner .mi_left ul li:first-child:before {
  display: none;
}
.whole_content_wrapper {
  background-color: #F1F2F2;
}
.main_inner .mi_left ul li:first-child img {
  border-radius: 0;
}
.main_inner .mi_left ul li:before {
  content: '';
  background: #ce0505;
  position: absolute;
  left: 10px;
  top: 7px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.main_inner .mi_left ul li {
  position: relative;
}
.main_inner .mi_left ul li:last-child {
  border-bottom: 1px solid #dddcdc;
  padding-bottom: 3rem;
}
.main_inner .mi_left ul li:last-child::before {
  display: none;
}
.main_inner .mi_left ul li:last-child button {
  border: none;
  background: none;
  color: #6c6868;
}
.whole_content_inner {
  padding-top: 9.4rem;
}
.content_wrapper .content_head {
  display: flex;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  position: relative;
}
.content_wrapper .content_head .ch_img {
  margin-right: 1.3rem;
}
.content_wrapper .content_head .ch_ex_btn {
  margin-left: auto;
  align-self: flex-end;
}
.content_wrapper .content_head .ch_sum h2 {
  font-size: 2.1rem;
}
.content_wrapper .content_head .ch_sum button {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid #d0cccc;
  font-size: 1.4rem;
  color: #645f5f;
  margin-top: auto;
}
.content_wrapper .content_head .ch_sum button i {
  font-size: 2rem;
  margin-right: 0.2rem;
}
.content_wrapper .content_head .ch_ex_btn .ex_btn button {
  background: none;
  border: none;
  font-size: 2rem;
}
.content_wrapper .content_head .ch_ex_btn .mobile_menu_icon {
  position: absolute;
  top: 0;
  margin-top: 3%;
  display: none;  
}
.content_wrapper .content_head .ch_ex_btn .mobile_menu_icon button {
  border: none;
  background: none;
  font-size: 2rem;
  display: none;
}
.main_inner .mi_left ul li:first-child a {
  color: #000;
}
.header_inner button.global {
  background: none;
  border: none;
  font-size: 2.5rem;
}
.header_inner button.add_q {
  background: #a61313;
  border: none;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 2rem;
}
.header_inner .search_form {
  position: relative;
}
.header_inner .search_form input {
  border: 1px solid #adc5db;
  padding: 1rem;
  border-radius: 3px;
}
.header_inner .search_form button.s_icon {
  background: none;
  border: none;
  position: absolute;
  right: 6%;
  top: 28%;
  color: #a5a0a0;
}
.content_nav {
  background-color: #fff;
  padding: 1.5rem 0.8rem;
  padding-bottom: 0;  
}
.content_nav button {
  border: none;
  background: none;
  margin-right: 1.5rem;
  font-weight: 600;
  color: #bab1b1;
  font-family: roboto;
  padding-bottom: 1.5rem;
}
.content_nav button.active {
    color: #bd0a0a;
    border-bottom: 2px solid #bd0a0a;
    
}
.content_top_slide {
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 2px;
  padding: 1rem 1.8rem;
  margin-bottom: 1rem;
}
.content_top_slide h2 {
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.content_top_slide .cts_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
/*hovered part*/
.content_top_slide .cts_wrapper .hovered_author {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 10px gainsboro;
    width: 28rem;
    border-radius: 3px;
    padding: 1rem;
    z-index: 1;
    top: 8rem;  
}
.content_top_slide .cts_wrapper .hovered_author .hvr_left p i {
    color: #4a7bef;
    margin-right: 0.5rem;
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap .hvr_bottom button {
    position: static;
    padding: 0;
    margin-left: 1rem;
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap .hvr_bottom button i {
    font-size: 1.6rem;
}
.content_top_slide .cts_wrapper .hovered_author .hvr_left p {
    margin-top: 0;
}
.hovered_author .hvr_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content_top_slide .cts_wrapper .hovered_author hr {
    width: 108%;
    margin-left: -4%;
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap .hovered_author img{
  max-width: 4rem;
  border-radius: 50%;
  align-self: center;
  margin-right: 1rem;
}
.content_top_slide .cts_wrapper .hovered_author .img_nd_title {
  display: flex;
}
.content_top_slide .cts_wrapper .hovered_author .img_nd_title p {
  margin-top: 0;
  text-align: left;
}
.content_top_slide .cts_wrapper .hovered_author p {
  margin-top: 1rem;
}
.contributor_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.contr_img {
  width: 4rem;
  display: flex;
  align-self: center;
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap .contr_img img {
    width: 10px;
    margin: -2px;
}
.content_top_slide .cts_wrapper .hovered_author .contributor_wrap p {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
}
/*end of hovered part*/
.content_top_slide .cts_wrapper .cts_inner {
  max-width: 17.8rem;
  margin-right: 0.8rem;
  position: relative;
  border: 1px solid #d8d3d3;
  border-radius: 10px;
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap img {
  width: 98%;
  max-height: 6rem;
  border: 2px solid #fff;
  border-radius: 10px 10px 0 0;
}
img {
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap button img {
  max-width: 4rem;
  border-radius: 50%;
}
.content_top_slide .cts_wrapper .cts_inner .cts_item_wrap button {
  border: none;
  background: none;
  position: absolute;
  left: 33%;
  top: 2.5rem;
}
.content_top_slide .cts_wrapper .cts_inner .cts_bottom button {
  position: static;
  border-radius: 2rem;
  padding: 0.7rem 1.1rem;
  background-color: #ebf0ff;
  border: 1px solid #d1dbf8;
  color: #7e9aef;
  font-weight: 600;
  font-family: sans-serif;
}
.content_top_slide .cts_wrapper .cts_inner .cts_sum {
  margin-top: 3rem;
  text-align: center;
}
.content_top_slide .cts_wrapper .cts_inner .cts_sum h3 {
  font-size: 1.38rem;
}
.content_top_slide .cts_wrapper .cts_inner .cts_sum p {
  font-size: 1.3rem;
  color: #4a4a4c;
  margin: 0.5rem;
}
.content_top_slide .cts_wrapper .cts_inner .cts_bottom {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
}
.content_top_slide .cts_wrapper .cts_inner .cts_bottom button i {
  font-size: 1.5rem;
  color: inherit;
}
.content_top_slide .cts_wrapper .cts_inner .cts_bottom button span {
  color: #aab9e5;
  font-weight: normal;
}
.content_top_slide .cts_wrapper button {
  border: 1px solid #e7e7e7;
  background-color: #f6f7f4;
  position: absolute;
  right: -16px;
  top: 36%;
  padding: 1.5rem 1rem;
  border-radius: 2px;
}
.content_top_slide .cts_wrapper button i {
  font-size: 2.5rem;
  color: gray;
}
.cts_inner .cts_item_wrap {
  position: relative;
}
.content_top_slide p {
  text-align: center;
  color: #8e8b8b;
  font-size: 1.4rem;
  margin-top: 3rem;
}
.content_top_slide p .fa-angle-right {
  margin-left: 1rem;
}

/*start of content posts wrapper*/
.content_post_single a:hover{
  text-decoration: underline;
  opacity: 1.0;
}
.content_post_single .post h2:hover{
  text-decoration: underline;
}
.content_posts_wrapper .content_post_single, .content_questions_wrapper .content_post_single, .content_writers_wrapper .content_post_single {
  padding: 1.8rem 1.5rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 2px;
  padding-bottom: 1rem;
}
.content_post_single .post_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #aca9a9;
}
.content_post_single .post_top button.cross {
  border: none;
  background: none;
}
.content_post_single .post_head .ph_left img {
  max-width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.content_post_single .post_head {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content_post_single .post_head .ph_left {
  display: flex;
}
.content_post_single .post_head .ph_left .ph_sum p {
  color: #605f5f;
  font-size: 1.3rem;
  margin-top: 0.2rem;
}
.content_post_single .post_head .ph_left .ph_sum p a.writer {
  font-weight: bold;
}
.content_post_single .post_head .ph_left .ph_sum p a.date {
}
.content_post_single .post_top h6 a {
  color: #aca9a9;
}
.content_post_single .post h2 {
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.content_post_single .post p {
  color: #545151;
  line-height: 1.5;
  letter-spacing: 0.6px;
  font-size: 1.4rem;
}
.content_post_single .post p.hidden {
  display: none;
}
.content_post_single .post p.first_part button.show_more {
  border: none;
  background: none;
  color: #6868ba;
}
.content_post_single .post .img_wrapper img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 2px;
}
.content_posts_wrapper .content_post_single .post_bottom {
  display: none;
}
.content_wrapper .content_head .ch_sum {
  display: flex;
  flex-direction: column;
}
.content_post_single .post_top button.cross i {
  color: #b0a8a8;
  font-size: 1.6rem;
}
.content_post_single .post_head .ph_right button {
  border: 1px solid #f8eeee;
  background-color: #ebf0ff;
  color: #668bfc;
  padding: 0.7rem;
  border-radius: 50%;
}
.content_post_single .post_foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}
.content_post_single .post_foot .pf_left span {
  margin-right: 1.7rem;
  font-size: 1.3rem;
  color: #747474;
}
.content_post_single .post_foot .pf_left span i {
  margin-right: 0.6rem;
  color: #747373;
}
.content_post_single .post_foot .pf_right i {
  margin-left: 1rem;
}
.content_post_single .post_foot .pf_right i:first-of-type {
  display: none;
}
.content_post_single .post_foot .pf_left span:first-of-type i {
    color: #7b7bee;
}
.content_post_single .post_foot .pf_right i {
    color: #747474;
}
/*hovered part*/
.content_post_single .post_head {
    position: relative;
}
.content_posts_wrapper .hovered_part {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 10px gainsboro;
    width: 32rem;
    border-radius: 3px;
    padding: 2rem;
    z-index: 1;
    top: 3rem;
    left: -1.3rem;
}
.content_posts_wrapper .hovered_part .hvr_items ul li {
    font-size: 1.2rem;
    font-weight: bold;
    color: #64645f;
    text-transform: none;
}
.content_posts_wrapper .hovered_part .hvr_items ul li i {
    margin-right: 1rem;
    font-size: 1.5rem;
}
/*content ad post*/
.content_ad .post_foot button.action_to_ad {
    border: none;
    background: none;
    color: #766f6f;
    font-size: 1.5rem;
}
.content_ad .post_head .ph_right button {
    background: none;
    border: none;
    color: #888383;
    font-size: 1.7rem;
}




/*content question part*/
.content_questions_wrapper{
  display: none;  
}
.content_question .post_wrap .question {
  margin-bottom: 0.8rem;
}
.content_question .post_wrap hr {
  width: 105.5%;
  margin-left: -2.65%;
}
.content_question .post_wrap .question i {
  color: #fff;
  background-color: red;
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
  margin-right: 0.8rem;
}
.content_question {
  padding-top: 0.8rem;
}
.content_question .post p span.bold {
  font-weight: bold;
  color: #918b8b;
  font-size: 1.3rem;
}
.content_question .post p span.flw_time {
  color: #a49d9d;
  font-size: 1.2rem;
}
.content_question .post h2 {
    margin-top: 0.5rem;
    font-size: 1.9rem;
}
.content_question .post_top h6 {
    font-size: 1.2rem;
    font-weight: normal;
}

/*end of content_posts wrapper*/


/*start of writers wrapper */
.content_writers_wrapper{
  display: none;  
}
.most_viewed_wrap {
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.content_writers_wrapper .writer_head {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.content_writers_wrapper .writer_head .wh_left i {
  color: red;
  margin-right: 1.7rem;
  font-size: 4rem;
}
.content_writers_wrapper .writer_head .wh_right h2 {
  line-height: 0.8;
  margin-bottom: 0.5rem;
}
.content_writers_wrapper .writer_head .wh_right p {
  color: #b0aeae;
  font-size: 1.4rem;
}
.content_writers_wrapper .writer_single {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ebe6e6;
  padding: 2rem 3rem;
  padding-right: 0;
}
.content_writers_wrapper .writer_single .ws_right {
    max-width: 39.5rem;
    position: relative;
}
.content_writers_wrapper .writer_single .ws_mid {
  max-width: 4rem;
  margin-right: 0.7rem;
}
.content_writers_wrapper .writer_single .ws_left {
  margin-right: 1.5rem;
}
.content_writers_wrapper .writer_single .ws_mid img.avatar {
  border-radius: 50%;
  border: 1px solid #f0f0f0;
}
.content_writers_wrapper .writer_single .ws_left p.view_count {
  font-weight: bold;
}
.content_writers_wrapper .writer_single .ws_left p.view {
  color: #a4a1a1;
}
.content_writers_wrapper .writer_single .ws_right p {
  color: #535151;
  letter-spacing: 0.2px;
  font-family: roboto;
}
.content_writers_wrapper .writer_single .ws_right p a.author {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: sans-serif;
  letter-spacing: 0.1px;
  color: #000;
}
.content_writers_wrapper .writer_single .ws_right a {
  font-size: 1.2rem;
  color: #6161be;
}

.upcoming_wrap {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
}
.upcoming_wrap .writer_head h2{
  margin-bottom: 0;
}
/*hovered part*/
.content_writers_wrapper .writer_single .ws_right .hovered_part {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 10px gainsboro;
    width: 32rem;
    border-radius: 3px;
    padding: 2rem;
    z-index: 1;
    top: 5rem;
    left: -4.3rem;
}
.hvr_bottom button {
    position: static;
    padding: 0;
    margin-left: 1rem;
    border: none;
    background: none;
    color: #645f5f;
}
.hvr_bottom button i {
    font-size: 1.6rem;
}
.hovered_part .hvr_left p {
    margin-top: 0;
}
.hvr_items {
    margin-bottom: 1rem;
}
.hovered_part .hvr_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hovered_part hr {
    width: 115%;
    margin-left: -7.4%;
}
.hovered_part img {
    max-width: 4rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 1rem;
    border: 1px solid gainsboro;
}
.content_writers_wrapper .writer_single .ws_right .hovered_part:before {
    content: '';
    width: 2rem;
    height: 2rem;
    background: inherit;
    position: absolute;
    top: -10px;
    left: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.hovered_part .hvr_head {
  display: flex;
}
.hovered_part .hvr_head p {
  margin-top: 0;
  text-align: left;
}
.hovered_part p {
  margin-top: 1rem;
}
.hovered_part .hvr_bottom button:first-of-type i {
    color: #4a7bef;
    margin-right: 0.5rem;
}
.content_writers_wrapper .writer_single .ws_right .hvr_items ul li {
    font-size: 1.2rem;
    font-weight: bold;
    color: #64645f;
    text-transform: none;
}
.content_writers_wrapper .writer_single .ws_right .hvr_items ul li i {
    margin-right: 1rem;
    font-size: 1.5rem;
}
.hvr_bottom button span {
    color: #827a7a;
    font-size: 1.2rem;
}

/*end of hovered part*/
/*end of main middle content*/





/*right sidebar*/
.main_inner .mi_right .topic_wrapper {
  padding: 1.7rem;
}
.main_inner .mi_right h3 {
  padding-left: 1.5rem;
  font-size: 1.4rem;
  color: #7e7777;
  padding-top: 1rem;
  border-bottom: 1px solid #e7e4e4;
  padding-bottom: 0.7rem;
}
.main_inner .mi_right .topic_wrapper img {
  width: 3.2rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}
.main_inner .mi_right .topic_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
.main_inner .mi_right .topic_info {
  width: 10rem;
}
.main_inner .mi_right .topic_info h3 {
  border: none;
  font-size: 1.2rem;
  color: #000;
  font-family: roboto;
  letter-spacing: 0.6px;
  word-break: break-word;
  padding-bottom: 0.2rem;
  padding-top: 0;
}
.main_inner .mi_right .topic_info h4 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #a09696;
  padding-left: 1.5rem;
}







/*media query*/
@media only screen and (max-width: 992px){ 
  .main_inner .mi_left {
    display: none;
   }  
  .main_inner .mi_right{
    display: none;
  }
  .header_inner{
    padding: 0 1rem;
  }
  .whole_content_inner {
    padding-top: 6.5rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px){
  .header_inner{
    position: relative;
  }
  .mobile_menu{
    display: block; 
  }
  .mobile_menu ul {
      position: absolute;
      left: 3px;
      background-color: #f6f9f9;
      z-index: 1;
      padding: 2rem;
      box-shadow: 1px 3px 10px gainsboro;
      padding-right: 6rem;
      top: 4.5rem;
      border-radius: 2px;
      display: none;  
  }
  .header_inner .search_form button.s_icon{
    display: block; 
  }
  .header_inner a, .header_inner button {
      display: none;
  }
  .mobile_menu ul li a{
      color: #c31818;
      display: block; 
  }
  .content_top_slide h2{
    text-align: center; 
  }
  .content_top_slide .cts_wrapper{
    justify-content: center;
  }
  .content_top_slide .cts_wrapper .cts_inner{
    margin-bottom: 2rem;  
  }
  .content_top_slide p{
    margin-top: 0;  
  }
  .content_writers_wrapper .writer_head{
    justify-content: center;  
  }
  .content_writers_wrapper .writer_head .wh_right h2{
    text-align: center; 
  }
  .content_writers_wrapper .writer_head .wh_right p{
    text-align: center; 
  }
  .content_top_slide .cts_wrapper button{
    display: none;  
  }
  .content_top_slide .cts_wrapper .cts_inner .cts_item_wrap button{
    display: inline-block;  
  }
  .content_post_single .post_foot .pf_left span {
      margin-right: 1rem;
  } 
  .content_post_single .post_head .ph_left .ph_sum p a.date {
      font-size: 1rem;
  }
  .content_top_slide .cts_wrapper .cts_inner .cts_item_wrap .cts_bottom button {
      margin: 0 auto;
  }     
}
@media only screen and (min-width: 480px) and (max-width: 768px){ 
  
} 

